@font-face {
    src: url("fonts/SourGummy-VariableFont_wdth\,wght.woff2") format("woff2");
    font-family: 'Sour Gummy';
    font-style: normal;
    font-weight: normal;
    }
    
    body{
    background-image: url("assets/Sugar Texture BG.svg");
    font-family: 'Sour Gummy', sans-serif;
    margin: 0;
    padding: 0;
}
.page-wrapper{
    width: 100%;
    margin: 0;
}

#history {
background-color: rgb(255, 241, 42);
padding-inline: 1.5rem;
margin-block: 0;
}

#variations{
background-color: rgb(255, 71, 114);
padding-inline: 1.5rem;
margin-block: 0;
}

#variations img {
    width: 160px;
    height: auto;
    margin-bottom: 15px;
    margin-left: 530px;
}

#alphabet {
background-color:rgb(74, 240, 94);
padding-inline: 1.5rem;
margin-block: 0;
}

#alphabet img {
    width: 160px;
    height: auto;
    margin-bottom: 15px;
    margin-left: auto;
    margin-right: 0;
}

@media only screen and (min-width:800px) {
    .page-wrapper{
        display: grid;
        grid-gap: 0;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        grid-template-areas: 
            "h"
            "v"
            "a";
    }

    
    #history {
    grid-area: h;
    }
    
    #history h1 {
        font-size: 1.5em;
    }
    
    #history h2 {
        font-size: 2.5em;
    }
    
    #variations{
    grid-area: v;
    }
    
    #variations h2 {
        font-size: 2.5em;
    }
    
    #variations h2 {
        font-size: 2.5em;
    }
    
    #alphabet {
    grid-area: a;
    }
    
    #alphabet h2 {
        font-size: 2.5em;
    }
    
    #alphabet p {
        font-size: 1.5em;
    }
}

/* Mobile styles for headings */
@media (max-width: 799px) {
    #history h2, #variations h2, #alphabet h2 {
        font-size: 2.5em;
    }
    #history h1 {
        font-size: 1.5em;
    }

    #variations img {
        float: none;
        display: block;
        margin: 10px auto;
        width: 130px;
        height: auto;
    }

    #alphabet img {
        display: block;
        margin: 10px auto;
        width: 130px;
        height: auto;
    }
}

/* CSS for the footer */
footer{
    background-color: rgb(251, 147, 68);
    height:200px;
    margin: 0;
}

/* font styling area */
h2{
    color: rgb(0, 0, 0);
    font-variation-settings: "opsz" 16, "wght" 700, "slnt" -8;
}

h3{
    font-weight:20; 
    text-align: center;
    font-size: 6em;
    animation: weightChange 7s infinite;
}

@keyframes weightChange {
    0%, 100%{
        font-variation-settings: "opsz" 16, "wght" 200, "slnt" 0;
    }
    50%{font-variation-settings: "opsz" 16, "wght" 900, "slnt" -13;
    }
}

/* Mobile styles for h3 */
@media (max-width: 799px) {
    h3 {
        font-size: 4em;
    }
}

/* Color styles for h3 spans */
.so { color: rgb(255, 71, 114); }
.ur { color: rgb(245, 222, 93); }
.gum { color: rgb(251, 147, 68); }
.my { color: rgb(74, 240, 94); }

.hero {
    position: relative;
    padding: 100px 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero-worm {
    width: 130px;
    height: auto;
    margin-bottom: -130px;
    margin-left: 270px;
}

/* animations for the variations section */
.weight{
    animation: weightVariations 5s infinite;
}
@keyframes weightVariations {
    0%, 100%{
        font-variation-settings: "wght" 100, "wdth" 100;
    }
    50%{font-variation-settings: "wght" 900, "wdth" 100;
    }
}
/* where the animation is for the width change */
.width{
    animation: widthVariations 5s infinite;
}
@keyframes widthVariations {
    0%, 100%{
        font-variation-settings: "wght" 200, "wdth" 100;
    }
    50%{font-variation-settings: "wght" 200, "wdth" 125;
    }
}

h5{
    font-size:40px;
    color:rgb(164, 24, 57);
    margin:15px;
}

/* variable font that changes on hover */
.variable-font{
    font-weight:1 ;
    height:100vh;
    font-size: 10em;
    display:grid;
    place-content: center;
    margin: 0;
    text-align: center;
    font-variation-settings: "wght" 40, "wdth" 0, "XXXX" 1;
    transition: 
        font-weight 500ms,
        font-variation-settings 3s;
}

.variable-font:hover{
    font-weight:500 ;
    height:100vh;
    font-size: 7em;
    display:grid;
    place-content: center;
    margin: 0;
    text-align: center;
    font-variation-settings: "wght" 120, "wdth" 0, "XXXX" 100;
}

